@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$primarycolor: rgb(30,30,40);
$secondarycolor: #203449;
$accentcolor: #CC6666;
$light: white;
//color scheme can be easily changed globally across whole site

body, html {
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    background-color: $primarycolor;
}

.navbar {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: $accentcolor;
}

.logo, .nav {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 40px;
    display: inline-block;
    margin: 0;
    color: $primarycolor;
}

a {
    color: $primarycolor;
    text-decoration: none;
}


.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-left: 40px;
    color: $light;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 24px;
}

.nav-right {
float: right;
line-height: 39px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gif {
    margin: 1rem;
    height: 20rem;
    width: 20rem;
    border-radius: 3rem;
    border-style: solid;
    border-width: 3px;
    border-color: $accentcolor;
}

.search-form {
    box-sizing: border-box;
    margin-left: 4rem;
    margin-right: 4rem;
}

form { 
    max-width:420px; margin:50px auto; 
}

.input-field {
    color: $light;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid $accentcolor;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.submit-button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: $accentcolor;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: $primarycolor;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.submit-button:hover {
       background:$accentcolor; 
}

.footer {
    font-family: Helvetica, Arial, sans-serif;
    color: $primarycolor;
    font-weight: 750;
    font-size: 22px;
    letter-spacing: 1.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;            //fixed to bottom regardless of content on page
    height: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: $accentcolor;
    text-align: center;
}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    height: 45px;
    width: 45px;
}

@media only screen and (max-width: 768px) {
    .nav { 
        display: flex;
        flex-direction: column; 
    }

    .gif {
        height: 15rem;
        width: 15rem;
    }

    .search-form {
        margin-left: 5px;
        margin-right: 5px;
    }
}